<launch>
  <!-- Load the robot description parameter -->
  <param name="robot_description" textfile="$(find autonomous_robot_3)/urdf/autonomous_robot_3.urdf" />

  <!-- Start the robot state publisher -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen"/>

  <!-- Start the joint state publisher -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>

  <!-- Load the controller parameters into the /robot namespace -->
  <rosparam file="$(find autonomous_robot_3)/config/controllers.yaml" command="load" ns="/robot"/>

  <!-- Launch the controller manager -->
  <node name="controller_manager" pkg="controller_manager" type="controller_manager" ns="/robot" respawn="false" output="screen"/>
  
  <!-- Wait for the controller manager service to be available -->
  <!--<node name="wait_for_controller_manager" pkg="autonomous_robot_3" type="wait_for_service.py" output="screen" />-->
  
  <!-- Launch the controller spawner -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" ns="/robot" respawn="false" output="screen" args="joint_state_controller joint_tray_controller"/>


</launch>

